@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Architects Daughter', cursive;
  padding-bottom: 15px;
  font-size: 3.2em;
  font-weight: bold;
}

.container {
  width: 33.3%;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td {
  width: 33.3%;
  font-family: 'Architects Daughter', cursive;
  border: 4px solid rgb(0, 0, 0);
	height:  100px;
	width:  100px;
	text-align:  center;
  vertical-align:  middle;
  font-size:  70px;
	cursor: pointer;
}
td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:nth-of-type(2) {
  border-top-color: transparent;
}
td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

td:after {
  content: '';
  display: block;
}

#oButton, #xButton {
  margin-top: 20px;
}

